body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    
}
.container {
    width: 1120px;
    margin: 0 auto;
    
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

ul, li {
    display: block;
    
    margin: 0px;
    }

    .menu {
    display: flex;
    align-content: center;
    
}
li {
    list-style-type: none;
}
 .menu li a {
    
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 150%;
    color: #1B1C21;
}

@media (min-width: 1121px) {
    .container {
        max-width:  1120px; 
        height: 536px;
        width: 100%;
        height: 100%;
        
      }
      .wrapper {
    height: 535px;
    display: flex;
    align-items: stretch;
    }
}

@media (max-width:1119px) {
    .container {
        max-width:  970px; 
        width: 100%;
        
      }
      p.none-2 {
    display: none;
    }
}

@media (min-width: 1120px) {
p.none-1 {
display: none;
}
}

@media (max-width:992px) {
    .container {
        max-width:  768px; 
        width: 100%;
    }
    
}

   @media  (max-width: 992px) {
.nav-desk {
display: none;
}
header.desk {
display: none;
}

}


    
   

    .header-plan {
    display: flex;

    }
    
    @media (min-width: 992px) {
    .nav-plan {
    display: none;
    }
    .nav-desk {
    display: flex;
    }
    }


@media (min-width: 651px) {

.header-mob {
display: none;
}
.header-plan {
    height: 88px;
    display: flex;
      
}
}

@media (max-width:650px) {
    .container {
        max-width:  320px; 
    }
    .test {
    display: flex;
    flex-direction: column;
    }
    .header-plan {
    display: none;
    }
}

.header-mob {
      display: flex;
      margin: 24px 16px;
}

.header-plan {
    height: 88px;
    display: flex;
      
}

@media (max-width: 650px) {

       .header-plan {
       display: none;
       }

       .header-desk {
    display: none;
    }
}

header.desk {
display: flex;
flex-direction: row;
align-items: center;
}

.nav-desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-start{
display: flex;
justify-content: flex-start;


}

.nav-end {
    display: flex;
    justify-content: flex-end;
}

.nav-mob {
    
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    
}

.nav-plan {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.nav-left {
display: flex;
justify-content: flex-start;
margin-top: 24px;
padding-right: 20px;
}

.nav-right {
display: flex;
justify-content: flex-end;
margin-top: 24px;
padding-right: 20px;
}

 button {
    border: none;
    background-color: #fff;
}


.ogol {
    margin-left: 20px;
    margin-right: 20px;
    }


section {
    background-color: #F8F8F8;
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.block img {
   
    padding-right: 12px;
}
h1 {
    margin-bottom: 24px;
    font-size: 28px;
}

.lad {
display: flex;
justify-content: space-between;
align-items: center;
}


.services {
    display: flex;
    justify-content: space-between;
    overflow: auto;
} 

.services button {
    background-color: #F8F8F8;
    color: #7E7E82;
    border: none;
    text-decoration: none;
    display: flex;
    width: 220px;
    margin-right: 25px;
    align-items: center;
    flex-wrap: nowrap;
   
}
.services button:hover {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: aqua;
    border-radius: 6px;
}

.text {
display: flex;
flex-wrap: nowrap;
flex-direction: column;
color: #1B1C21;
font-size: 14px;
line-height: 142%;
letter-spacing: 0.2px;
}

.test {
margin: -10px;
width: 100%;
}

@media (min-width: 651px) {
    .text  {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        
    }

.nav-mob {
display: none;
}
.header-mob {
display: none;}

}

.text p {
    line-height: 18px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
}  



.continuation {
    display: flex;
    margin-top: -20px;
   
}
@media (min-width: 992px) {

     .text {
    display: flex;
width: 50%;
} 
}
@media (min-width: 992px)   {
.text-body {
width: 100%;
}
}
@media (min-width: 992px) {
    .continuation {
    width: 50%;
    }
    .text {
    height: 329px;
    }
    .text-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    }
}
.continuation img {
    padding-left: 24px;
margin-right: 10px;
}
.button1 {

}
.test {
display: flex;
align-items: center;
}


@media (min-width: 992px) {
.header-plan{
display: none;
}
.header-desk {
display: none;
}
.photo img {
width: 500px;
height: auto;
margin-bottom: 50px;
}
}

@media (max-width: 992px) {
.header-desk {
display: none;
}
}



@media (max-width: 992px) {
.block-right {
display: none;
}
.reviews {
display: none;
}
}

.block-left {
display: flex;
justify-content: center;
align-items: center;
}

.block-right {
display: flex;
align-items: center;
justify-content: center;
}

@media (max-width: 992px) {
.block-right {
display: none;
}
}

.menu {
display: flex;
align-items: center;
}


.reviews {
color: #7E7E82;
font-size: 16px;
margin: 15px 56px 0px 15px;
}

.center {
display: flex;
align-items: center;
justify-content: space-between;
}
.menu {
display: flex;
justify-content: space-between;
align-items: center;
}
.menu img {

}


@media (max-width: 992px) {
.test {
margin-top: 10px;
}
}

span {
margin-right: 8px;
}